.footstep {
  padding: 0 18px 0 16px !important;
  width: 100%;
  position: relative;
}
.footstep .footstep-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.footstep .footstep-container .footstep-content {
  position: relative;
}
.footstep .footstep-container .footstep-content > li {
  float: left;
}
.footstep .footstep-container .footstep-content i {
  color: #333 !important;
}
.footstep .footstep-container .footstep-content i:hover {
  color: #222 !important;
}
.footstep .footstep-nav-previous,
.footstep .footstep-nav-next {
  position: absolute;
  top: 0;
  z-index: 20;
}
.footstep .footstep-nav-next {
  right: -10px;
}
.footstep .footstep-nav-previous {
  left: -10px;
}
