.itinerary .itinerary-calendar {
  position: relative;
  border-top: 5px solid #362f2d;
  padding: 15px 0;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.itinerary .itinerary-event {
  border-top: #DDD 1px solid;
  margin: 0 0 10px;
  padding-top: 10px;
  position: relative;
}
.itinerary .itinerary-event .itinerary-event-time {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .itinerary .itinerary-event .itinerary-event-time {
    width: 200px;
    position: absolute;
  }
}
@media (min-width: 600px) {
  .itinerary .itinerary-event .itinerary-event-content {
    padding-left: 210px;
  }
}
.itinerary .itinerary-event .itinerary-event-content .itinerary-event-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}
.itinerary .itinerary-event .itinerary-event-content .itinerary-event-presenter .itinerary-event-presenter-name {
  font-weight: bold;
  display: inline;
}
.itinerary .itinerary-event .itinerary-event-content .itinerary-event-presenter .itinerary-event-presenter-occupation {
  display: inline;
}
.itinerary .itinerary-event .itinerary-event-details {
  position: relative;
  margin-bottom: 10px;
}
.itinerary .itinerary-event .itinerary-event-details .itinerary-event-details-img {
  max-width: 70px;
  position: absolute;
}
.itinerary .itinerary-event .itinerary-event-details .itinerary-event-details-content {
  min-height: 70px;
  padding-left: 80px;
}
.itinerary .itinerary-event .itinerary-event-details .itinerary-event-details-content p {
  font-size: 12px;
  margin-top: 0;
}
