// Atmosphere  ================================================================================
// Define Vendor Path
@site-less-url: "/";
@atmosphere-url: "../";
@atmosphere-less-url: "@{atmosphere-url}less/";
@vendor-url: "@{atmosphere-url}vendor/";

// Core variables and mixins
@import "@{site-less-url}variables.less";
@import "@{site-less-url}mixins.less";


// Import Vendor Frameworks =============================================================
// Normalize
@import "@{vendor-url}normalize-3.0.0.custom/normalize-3.0.0.less";

// Icon Fonts
@import "@{vendor-url}font-awesome-4.0.3.custom/css/font-awesome.min.less";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Exo+2:300italic,300,700,100);

// Custom Foundation
@import "@{vendor-url}foundation-5.2.1.custom/css/foundation.less";

// Custom Bootstrap
@import "@{vendor-url}bootstrap-3.0.3.custom/less/bootstrap.less";

// Syntax Highlighter
@import "@{vendor-url}syntaxhighlighter_3.0.83.custom/styles/shCore.less";
@import "@{vendor-url}syntaxhighlighter_3.0.83.custom/styles/shThemeEmacs.less";

// Wordpress, Magento, Drupal Customizations
@import "@{atmosphere-less-url}wordpress.less";
@import "@{atmosphere-less-url}magento.less";
@import "@{atmosphere-less-url}drupal.less";

// Vendor
@import "@{atmosphere-less-url}vendor.less";

// =======================================================================================


// Core CSS
@import "@{atmosphere-less-url}base.less";
@import "@{atmosphere-less-url}type.less";
@import "@{atmosphere-less-url}code.less";
@import "@{atmosphere-less-url}grid.less";
@import "@{atmosphere-less-url}tables.less";
@import "@{atmosphere-less-url}forms.less";
@import "@{atmosphere-less-url}buttons.less";

// Components
@import "@{atmosphere-less-url}base.less";
@import "@{atmosphere-less-url}journey.less";
@import "@{atmosphere-less-url}jaunt.less";
@import "@{atmosphere-less-url}dropdown.less";
@import "@{atmosphere-less-url}example.less";
@import "@{atmosphere-less-url}item.less";
@import "@{atmosphere-less-url}feature.less";
@import "@{atmosphere-less-url}author.less";
@import "@{atmosphere-less-url}story.less";
@import "@{atmosphere-less-url}dialogue.less";
@import "@{atmosphere-less-url}sidebar.less";
@import "@{atmosphere-less-url}specs.less";
@import "@{atmosphere-less-url}cart.less";
@import "@{atmosphere-less-url}callout.less";
@import "@{atmosphere-less-url}main-nav.less";
@import "@{atmosphere-less-url}itinerary.less";
@import "@{atmosphere-less-url}nav.less";
@import "@{atmosphere-less-url}front-stage.less";

// Components w/ Javascript
@import "@{atmosphere-less-url}exhibit.less";

// Helper classes
@import "@{atmosphere-less-url}helper.less";

// Start Styling below ==================================================================

.btn{
	border-radius: 0;
}