.author-img{
	width: @author-img-size;
	height: @author-img-size;
	@media( min-width: 768px ){
		width: @author-img-size * 2;
		height: @author-img-size * 2;
	}
	overflow: hidden;
	
	img{
		max-width: 100%;
	}
}

// Sizes
.author-img.author-img-xs{
	width: @author-img-size-xs;
	height: @author-img-size-xs;
	@media( min-width: 768px ){
		width: @author-img-size-xs * 2;
		height: @author-img-size-xs * 2;
	}
}
.author-img.author-img-sm{
	width: @author-img-size-sm;
	height: @author-img-size-sm;
	@media( min-width: 768px ){
		width: @author-img-size-sm * 2;
		height: @author-img-size-sm * 2;
	}
}
.author-img.author-img-lg{
	width: @author-img-size-lg;
	height: @author-img-size-lg;
	@media( min-width: 768px ){
		width: @author-img-size-lg * 2;
		height: @author-img-size-lg * 2;
	}
}
.author-img.author-img-xl{
	width: @author-img-size-xl;
	height: @author-img-size-xl;
	@media( min-width: 768px ){
		width: @author-img-size-xl * 2;
		height: @author-img-size-xl * 2;
	}
}


// Rounded
.author-img.author-img-rounded{
	border-radius: @author-img-size/2;
	@media( min-width: 768px ){
		border-radius: @author-img-size;
	}
}
.author-img-xs.author-img-rounded{
	border-radius: @author-img-size-xs/2;
	@media( min-width: 768px ){
		border-radius: @author-img-size-xs;
	}
}
.author-img-sm.author-img-rounded{
	border-radius: @author-img-size-sm/2;
	@media( min-width: 768px ){
		border-radius: @author-img-size-sm;
	}
}
.author-img-lg.author-img-rounded{
	border-radius: @author-img-size-lg/2;
	@media( min-width: 768px ){
		border-radius: @author-img-size-lg;
	}
}
.author-img-xl.author-img-rounded{
	border-radius: @author-img-size-xl/2;
	@media( min-width: 768px ){
		border-radius: @author-img-size-xl;
	}
}
