/* RESET - credit Apple <apple.com> */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time {
	margin: 0; 
	padding: 0; 
}
@-ms-viewport { // Fix Windows Phone Resolution
    width: device-width;
}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { 
	font-size: 1em; 
	font-weight: normal; 
	font-style: normal; 
}
fieldset,
iframe { 
	border: none;
}
caption,
th { 
	text-align: left;
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
article,aside,footer,header,hgroup,nav,section,figure,figcaption { 
	display: block; 
}

/* LAYOUT */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, 
body {
	background-color: #FFF;
}
.clear {
	clear: both;
}
.clearer {
	clear: both; 
	display: block; 
	margin: 0; 
	padding: 0; 
	height: 0; 
	line-height: 1px; 
	font-size: 1px;
}
img { 
	border: 0; 
	max-width: 100%;
}
img.left { 
	float: left; 
	margin: 2px 20px 16px 0; 
}
img.right { 
	float: right; 
	margin: 2px 0 16px 20px;
}
img.across { 
	margin: 2px 0 16px 0; 
}
img.flushleft { 
	margin-left: -20px;
}
img.flushright { 
	margin-right: -20px;
}

.replaced { 
	display: block; 
	width: 1px; 
	height: 1px; 
	outline: none; 
	overflow: hidden; 
	text-indent: -9999px; 
}
#container { 
	max-width: 980px; 
	margin: 0 auto; 
	position: relative; 
}
#main { 
	width: 100%; 
	position: relative;
}
#content { 
	padding: 18px 20px; 
	position: relative; 
	color: #333; 
}

.content { 
	background: #fff; 
	border: 1px solid; 
	border-color: #e5e5e5 #dbdbdb #d2d2d2; 
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; 
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; box-shadow: rgba(0,0,0,0.3) 0 1px 3px; 
}
.content:nth-child(1n) { 
	border: none; 
} /* reset border for smart browsers */
.rounded { 
	border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	-khtml-border-radius: 4px; 
}
.roundedtop { 
	border-radius: 4px 4px 0 0; 
	-webkit-border-top-left-radius:4px; 
	-webkit-border-top-right-radius:4px; 
	-moz-border-radius: 4px 4px 0 0; 
	-o-border-radius: 4px 4px 0 0; 
	-khtml-border-radius: 4px 4px 0 0; 
}
.roundedbottom { 
	border-radius: 0 0 4px 4px; 
	-webkit-border-bottom-left-radius:4px; 
	-webkit-border-bottom-right-radius:4px; 
	-moz-border-radius: 0 0 4px 4px; 
	-o-border-radius: 0 0 4px 4px; 
	-khtml-border-radius: 0 0 4px 4px; 
}
.roundedright { 
	border-radius: 0 4px 4px 0; 
	-webkit-border-top-right-radius:4px; 
	-webkit-border-bottom-right-radius:4px; 
	-moz-border-radius: 0 4px 4px 0; 
	-o-border-radius: 0 4px 4px 0; 
	-khtml-border-radius: 0 4px 4px 0;
}
.roundedleft { 
	border-radius: 4px 0 0 4px; 
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px; 
	-moz-border-radius: 4px 0 0 4px; 
	-o-border-radius: 4px 0 0 4px; 
	-khtml-border-radius: 4px 0 0 4px;
}
.roundedtopleft { 
	border-radius:4px 0 0; 
	-webkit-border-top-left-radius:4px; 
	-moz-border-radius:4px 0 0; 
	-o-border-radius:4px 0 0; 
	-khtml-border-radius:4px 0 0;
}
.roundedtopright { 
	border-radius: 0 4px 0 0; 
	-webkit-border-top-right-radius:4px; 
	-moz-border-radius:0 4px 0 0; 
	-o-border-radius:0 4px 0 0; 
	-khtml-border-radius: 0 4px 0 0;
}
.roundedbottomleft { 
	border-radius: 0 0 0 4px; 
	-webkit-border-bottom-left-radius:4px; 
	-moz-border-radius: 0 0 0 4px; 
	-o-border-radius: 0 0 0 4px; 
	-khtml-border-radius: 0 0 0 4px;
}
.roundedbottomright { 
	border-radius: 0 0 4px 0; 
	-webkit-border-bottom-right-radius:4px; 
	-moz-border-radius: 0 0 4px 0; 
	-o-border-radius: 0 0 4px 0; 
	-khtml-border-radius: 0 0 4px 0;
}
.shadow { 
	-webkit-box-shadow: rgba(0,0,0,0.35) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; 
	box-shadow: rgba(0,0,0,0.35) 0 1px 3px;
}
img.shadow {
	padding: 5px; 
	background: #fff; 
	margin-bottom: 2px; 
	*border: 1px solid #e2e2e2;
	_position: relative; 
}
.callout { 
	border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	-o-border-radius: 7px; 
	-khtml-border-radius: 7px; 
}

/* Spacing ---------------------- */
/* Credit: Derived from Nicole Sullivan's oocss project - http://oocss.org */
/* Padding */
.pan { 
	padding: 0 !important; 
}
.ptn { 
	padding-top: 0 !important; 
}
.pln { 
	padding-left: 0 !important; 
}
.prn { 
	padding-right: 0 !important; 
}
.pbn { 
	padding-bottom: 0 !important; 
}
.phn { 
	padding-left: 0 !important; padding-right: 0 !important; 
}
.pvn { 
	padding-top:0 !important; padding-bottom: 0 !important; 
}
.pat { 
	padding: 5px !important; 
}
.ptt { 
	padding-top: 5px !important; 
}
.prt { 
	padding-right: 5px !important; 
}
.pbt { 
	padding-bottom: 5px !important; 
}
.plt { 
	padding-left: 5px !important; 
}
.pht { 
	padding-left: 5px !important; padding-right: 5px !important; 
}
.pvt { 
	padding-top: 5px !important; padding-bottom: 5px !important; 
}
.pas { 
	padding: 10px !important; 
}
.pts { 
	padding-top: 10px !important; 
}
.prs { 
	padding-right: 10px !important; 
}
.pbs { 
	padding-bottom: 10px !important; 
}
.pls { 
	padding-left: 10px !important; 
}
.phs { 
	padding-left: 10px !important; 
	padding-right: 10px !important; 
}
.pvs { 
	padding-top: 10px !important; 
	padding-bottom: 10px !important; 
}
.pam { 
	padding: 18px !important; 
}
.ptm { 
	padding-top: 18px !important; 
}
.prm { 
	padding-right: 18px !important; 
}
.pbm { 
	padding-bottom: 18px !important;
}
.plm { 
	padding-left: 18px !important; 
}
.phm { 
	padding-left: 18px !important; padding-right: 18px !important;
}
.pvm { 
	padding-top:18px !important; 
	padding-bottom: 18px !important; 
}
.pal { 
	padding: 30px !important; 
}
.ptl { 
	padding-top: 30px !important; 
}
.prl { 
	padding-right: 30px !important;
}
.pbl { 
	padding-bottom: 30px !important;
}
.pll { 
	padding-left: 30px !important;
}
.phl { 
	padding-left: 30px !important; padding-right: 30px !important; 
}
.pvl { 
	padding-top: 30px !important; padding-bottom: 30px !important; 
}

/* margin */
.man { 
	margin: 0 !important; 
}
.mtn { 
	margin-top: 0 !important; 
}
.mln { 
	margin-left: 0 !important; 
}
.mrn { 
	margin-right: 0 !important; 
}
.mbn { 
	margin-bottom: 0 !important; 
}
.mhn { 
	margin-left: 0 !important; 
	margin-right: 0 !important; 
}
.mvn { 
	margin-top:0 !important; 
	margin-bottom: 0 !important; 
}
.mat { 
	margin: 5px !important; 
}
.mtt { 
	margin-top: 5px !important; 
}
.mrt { 
	margin-right: 5px !important; 
}
.mbt { 
	margin-bottom: 5px !important; 
}
.mlt { 
	margin-left: 5px !important; 
}
.mht { 
	margin-left: 5px !important; 
	margin-right: 5px !important; 
}
.mvt { 
	margin-top: 5px !important; 
	margin-bottom: 5px !important; 
}
.mas { 
	margin: 10px !important; 
}
.mts { 
	margin-top: 10px !important; 
}
.mrs { 
	margin-right: 10px !important; 
}
.mbs { 
	margin-bottom: 10px !important; 
}
.mls { 
	margin-left: 10px !important; 
}
.mhs { 
	margin-left: 10px !important; margin-right: 10px !important; 
}
.mvs { 
	margin-top: 10px !important; 
	margin-bottom: 10px !important; 
}
.mam { 
	margin: 18px !important; 
}
.mtm { 
	margin-top: 18px !important; 
}
.mrm { 
	margin-right: 18px !important; 
}
.mbm { 
	margin-bottom: 18px !important; 
}
.mlm { 
	margin-left: 18px !important; 
}
.mhm { 
	margin-left: 18px !important; 
	margin-right: 18px !important; 
}
.mvm { 
	margin-top:18px !important; 
	margin-bottom: 18px !important; 
}
.mal { 
	margin: 30px !important; 
}
.mtl { 
	margin-top: 30px !important; 
}
.mrl { 
	margin-right: 30px !important; 
}
.mbl { 
	margin-bottom: 30px !important; 
}
.mll { 
	margin-left: 30px !important; 
}
.mhl { 
	margin-left: 30px !important; 
	margin-right: 30px !important; 
}
.mvl { 
	margin-top: 30px !important; 
	margin-bottom: 30px !important; 
}

/* GRID */
/*** Grid Credit Twitter Bootstrap <http://getbootstrap.com> */
.row:before, .row:after {
	content: " ";
	display: table;
	clear: both;
}
.row {
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

@media( min-width: 768px ){
	.col-sm-plt{
		padding: 0 0 0 5px;
	}
	.col-sm-prt{
		padding: 0 5px 0 0;
	}
	.col-sm-pht{
		padding: 0 5px 0;
	}
	.col-sm-pls{
		padding: 0 0 0 10px;
	}
	.col-sm-prs{
		padding: 0 10px 0 0;
	}
	.col-sm-phs{
		padding: 0 10px 0;
	}
}
@media( min-width: 992px ){
	.col-md-plt{
		padding: 0 0 0 5px;
	}
	.col-md-prt{
		padding: 0 5px 0 0;
	}
	.col-md-pht{
		padding: 0 5px 0;
	}
	.col-md-pls{
		padding: 0 0 0 10px;
	}
	.col-md-prs{
		padding: 0 10px 0 0;
	}
	.col-md-phs{
		padding: 0 10px 0;
	}
}
@media( min-width: 768px ){
	.col-lg-plt{
		padding: 0 0 0 5px;
	}
	.col-lg-prt{
		padding: 0 5px 0 0;
	}
	.col-lg-pht{
		padding: 0 5px 0;
	}
	.col-lg-pls{
		padding: 0 0 0 10px;
	}
	.col-lg-prs{
		padding: 0 10px 0 0;
	}
	.col-lg-phs{
		padding: 0 10px 0;
	}
}
#container, #content{
	zoom: 1;
}
.margin-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.relative{
	position: relative !important; 
}
.absolute{
	position: absolute !important; 
}
.fixed{
	position: fixed !important; 
}

/* TYPE */
body {
  font: 80%/1.5 @font-family-sans-serif;
	color: @gray-dark;
	position: relative;
	text-rendering: optimizeLegibility; // Whenever possible, Strive to render the additional font features to improve readability
	text-rendering: optimizeSpeed;
	@media( min-width: 768px ){
		font: 100%/1.5 @font-family-sans-serif;
	}
}
body, 
input, 
button {
	-webkit-font-smoothing: antialiased;
}
a {
	color: @link-color;
	text-decoration: none;
	&:link, &:visited, &:active {
		text-decoration: none;
	}
	&:hover {
		color: @link-hover-color;
		text-decoration: none;
	}
}
.nowrap { 
	white-space:nowrap; 
}
strong, 
b { 
	font-weight: bold; 
}
em, 
i, 
cite { 
	font-style: italic; 
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup {
	bottom: 2ex;
	color: #666;
	a {
		color: #666;
		&:hover {
			color:#08c; 
			text-decoration:none;
		}
	}
}
sub {
	top: .5ex;
	line-height:1;
}
h1,
h2,
h3,
h4,
strong {
	font-weight: bold;
}
h1 { 
	font-size: 2em; // 2*16 = 32         
}
h2 { 
	font-size: 1.5em; // 1.5*16 = 24
}
h3 { 
	font-size: 1.17em; // 1.17*16 = 18.72   
}
h4 { 
	font-size: 1.125em; // 1.125*16 = 18         
}
h5 { 
	font-size: 1.0625em; // 1.0625*16 = 13.28  
	text-transform: uppercase; 
}
h6 { 
	font-size: .9em;    // 0.9*16 = 14
	text-transform: uppercase;
	letter-spacing: 1px;
}
p {   
	line-height: 1.5;
  margin: 0 0 1em;  
	word-break: break-all;
	word-break: break-word; // Non standard for webkit
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;   
}
.euphoria{
	font-weight: 200;
	line-height: 1.1;
	letter-spacing: -3.5px;
	word-spacing: 2px;
	margin-bottom: 18px;
	font-weight: 200;
}
h1.euphoria { 
	font-size: 2em * 1.6; // 2*16 = 32 
	font-weight: normal;        
}
h2.euphoria { 
	font-size: 1.5em * 1.6; // 1.5*16 = 24
}
h3.euphoria { 
	font-size: 1.17em * 1.6;  // 1.17*16 = 18.72   
}
h4.euphoria { 
	font-size: 1.125em * 1.6; // 1.125*16 = 18         
}
h5.euphoria { 
	font-size: 1.0625em * 1.6; // 1.0625*16 = 13.28  
}
h6.euphoria { 
	font-size: .9em * 1.6;    // 0.9*16 = 14
}
p.lead.euphoria { 
	color: #000; 
	font-size: 1.1em; 
	line-height: 1.6;
	font-weight: normal;
	letter-spacing: 0;
}
.indent p+p {   
	text-indent: 2em;
 	margin-top: -1em;   
}
p.intro, p.lead { 
	color: #888; 
	font-size: 1.125em // 1.125*16 = 18px; 
}
code,
pre { 
	font-family: monospace, serif;
 	font-size: 1em; 
}
blockquote {
 font-style: italic;
}
 
blockquote:before { 
 content: "\201C";
 font-size: 1.5em;
 display: inline-block;
 padding-right: .3em;
}
.more { 
	text-align: right; 
}
i {
	font-size: inherit;
}
hr {
	border: 1px solid #DDD;
	margin-bottom: 15px;
}


ul, ol{
	margin-left: 15px;
	padding-left: 0;
	list-style-position: outside;
	li{
		margin-bottom: 0;
	}
	ul, ol{
		margin-left: 15px;
		padding-left: 0;
		li{
				padding: 0;
				margin-bottom: 0; 
		}
	}
}



legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm {
  height: auto;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg {
  height: auto;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.form-control-static {
  margin-bottom: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline select.form-control {
    width: auto;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.form-horizontal .form-group:after {
  clear: both;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.form-horizontal .form-group:after {
  clear: both;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}


//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  .user-select(none);

  &:focus {
    .tab-focus();
  }

  &:hover,
  &:focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// Success appears as green
.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #428bca;
  background-color: #ffffff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}



.visible-xs,
tr.visible-xs,
th.visible-xs,
td.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-xs.visible-sm {
    display: block !important;
  }
  table.visible-xs.visible-sm {
    display: table;
  }
  tr.visible-xs.visible-sm {
    display: table-row !important;
  }
  th.visible-xs.visible-sm,
  td.visible-xs.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-xs.visible-md {
    display: block !important;
  }
  table.visible-xs.visible-md {
    display: table;
  }
  tr.visible-xs.visible-md {
    display: table-row !important;
  }
  th.visible-xs.visible-md,
  td.visible-xs.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-xs.visible-lg {
    display: block !important;
  }
  table.visible-xs.visible-lg {
    display: table;
  }
  tr.visible-xs.visible-lg {
    display: table-row !important;
  }
  th.visible-xs.visible-lg,
  td.visible-xs.visible-lg {
    display: table-cell !important;
  }
}
.visible-sm,
tr.visible-sm,
th.visible-sm,
td.visible-sm {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-sm.visible-xs {
    display: block !important;
  }
  table.visible-sm.visible-xs {
    display: table;
  }
  tr.visible-sm.visible-xs {
    display: table-row !important;
  }
  th.visible-sm.visible-xs,
  td.visible-sm.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-sm.visible-md {
    display: block !important;
  }
  table.visible-sm.visible-md {
    display: table;
  }
  tr.visible-sm.visible-md {
    display: table-row !important;
  }
  th.visible-sm.visible-md,
  td.visible-sm.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-sm.visible-lg {
    display: block !important;
  }
  table.visible-sm.visible-lg {
    display: table;
  }
  tr.visible-sm.visible-lg {
    display: table-row !important;
  }
  th.visible-sm.visible-lg,
  td.visible-sm.visible-lg {
    display: table-cell !important;
  }
}
.visible-md,
tr.visible-md,
th.visible-md,
td.visible-md {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-md.visible-xs {
    display: block !important;
  }
  table.visible-md.visible-xs {
    display: table;
  }
  tr.visible-md.visible-xs {
    display: table-row !important;
  }
  th.visible-md.visible-xs,
  td.visible-md.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md.visible-sm {
    display: block !important;
  }
  table.visible-md.visible-sm {
    display: table;
  }
  tr.visible-md.visible-sm {
    display: table-row !important;
  }
  th.visible-md.visible-sm,
  td.visible-md.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-md.visible-lg {
    display: block !important;
  }
  table.visible-md.visible-lg {
    display: table;
  }
  tr.visible-md.visible-lg {
    display: table-row !important;
  }
  th.visible-md.visible-lg,
  td.visible-md.visible-lg {
    display: table-cell !important;
  }
}
.visible-lg,
tr.visible-lg,
th.visible-lg,
td.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-lg.visible-xs {
    display: block !important;
  }
  table.visible-lg.visible-xs {
    display: table;
  }
  tr.visible-lg.visible-xs {
    display: table-row !important;
  }
  th.visible-lg.visible-xs,
  td.visible-lg.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg.visible-sm {
    display: block !important;
  }
  table.visible-lg.visible-sm {
    display: table;
  }
  tr.visible-lg.visible-sm {
    display: table-row !important;
  }
  th.visible-lg.visible-sm,
  td.visible-lg.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-lg.visible-md {
    display: block !important;
  }
  table.visible-lg.visible-md {
    display: table;
  }
  tr.visible-lg.visible-md {
    display: table-row !important;
  }
  th.visible-lg.visible-md,
  td.visible-lg.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
.hidden-xs {
  display: block !important;
}
table.hidden-xs {
  display: table;
}
tr.hidden-xs {
  display: table-row !important;
}
th.hidden-xs,
td.hidden-xs {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-xs,
  tr.hidden-xs,
  th.hidden-xs,
  td.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs.hidden-sm,
  tr.hidden-xs.hidden-sm,
  th.hidden-xs.hidden-sm,
  td.hidden-xs.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs.hidden-md,
  tr.hidden-xs.hidden-md,
  th.hidden-xs.hidden-md,
  td.hidden-xs.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xs.hidden-lg,
  tr.hidden-xs.hidden-lg,
  th.hidden-xs.hidden-lg,
  td.hidden-xs.hidden-lg {
    display: none !important;
  }
}
.hidden-sm {
  display: block !important;
}
table.hidden-sm {
  display: table;
}
tr.hidden-sm {
  display: table-row !important;
}
th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-sm.hidden-xs,
  tr.hidden-sm.hidden-xs,
  th.hidden-sm.hidden-xs,
  td.hidden-sm.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm,
  tr.hidden-sm,
  th.hidden-sm,
  td.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-sm.hidden-md,
  tr.hidden-sm.hidden-md,
  th.hidden-sm.hidden-md,
  td.hidden-sm.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-sm.hidden-lg,
  tr.hidden-sm.hidden-lg,
  th.hidden-sm.hidden-lg,
  td.hidden-sm.hidden-lg {
    display: none !important;
  }
}
.hidden-md {
  display: block !important;
}
table.hidden-md {
  display: table;
}
tr.hidden-md {
  display: table-row !important;
}
th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-md.hidden-xs,
  tr.hidden-md.hidden-xs,
  th.hidden-md.hidden-xs,
  td.hidden-md.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md.hidden-sm,
  tr.hidden-md.hidden-sm,
  th.hidden-md.hidden-sm,
  td.hidden-md.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md,
  tr.hidden-md,
  th.hidden-md,
  td.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-md.hidden-lg,
  tr.hidden-md.hidden-lg,
  th.hidden-md.hidden-lg,
  td.hidden-md.hidden-lg {
    display: none !important;
  }
}
.hidden-lg {
  display: block !important;
}
table.hidden-lg {
  display: table;
}
tr.hidden-lg {
  display: table-row !important;
}
th.hidden-lg,
td.hidden-lg {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-lg.hidden-xs,
  tr.hidden-lg.hidden-xs,
  th.hidden-lg.hidden-xs,
  td.hidden-lg.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-lg.hidden-sm,
  tr.hidden-lg.hidden-sm,
  th.hidden-lg.hidden-sm,
  td.hidden-lg.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg.hidden-md,
  tr.hidden-lg.hidden-md,
  th.hidden-lg.hidden-md,
  td.hidden-lg.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg,
  tr.hidden-lg,
  th.hidden-lg,
  td.hidden-lg {
    display: none !important;
  }
}
.visible-print,
tr.visible-print,
th.visible-print,
td.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
  .hidden-print,
  tr.hidden-print,
  th.hidden-print,
  td.hidden-print {
    display: none !important;
  }
}
@media print {
 
    * { background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;}
 
}