/***************** CART ********************/

.cart{
	.cart-items{
		.cart-item{
			position: relative;
			display: block;
			overflow:auto;
			border-bottom: 2px solid #CCC;
			margin-bottom: 5px;
			background-color: #FFF;
			.cart-item-image-container{
				width: 15%;
				float: left;
				height: 96px;
				padding: 10px 4px;
				.cart-item-image{
					max-height: 100%;
					max-width: 100%;
				}
			}
			.cart-item-details{
				width: 65%;
				float: left;
				padding: 10px 4px;
				.cart-item-title{
					.font-size(16);
				}
				.cart-item-edit-customizations{
					.font-size(12);
					margin-bottom: 10px;
				}
				.cart-item-meta{
					.font-size(12);
				}
			}
			.cart-item-quantity-selector{
				padding: 0;
				max-width: 58px;
			}
			.cart-item-price{
				width: 15%;
				float: left;
				.font-size(15);
				padding: 30px 0;
				text-align: right;
				font-weight: bold;
			}
			.cart-item-trash-it{
				width: 5%;
				float: left;
				.font-size(15);
				padding: 25px 0px;
				.cart-item-delete{
				
				}
			}
		}
	}
	.cart-summary-row{
		margin-bottom: 20px;
		overflow: auto;
		.cart-summary{
			max-width: 440px;
			background-color: #FFF;
			float: right;
			text-align: right;
			.cart-subtotal-content{
				margin: 20px auto;
				.cart-subtotal-label{
					.font-size(18);
					color: #aaa;
					font-weight: bold;
				}
				.cart-subtotal-price{
					color: #333;
					.font-size(28);
					line-height:30px;
				}
				.cart-tax-message{
					.font-size(13);
					color: #aaa;
				}
			}
			.cart-shipping-content{
				background-color: #fcf7d5;
				color: #737373;
				padding: 20px 30px;
				.shipping-note{
					color: #737373;
					.font-size(13);
				}
			}
			.cart-subtotal-empty{
				color: #737373;
				width: 280px;
				padding: 20px 30px;
			}
		}
	}
	.cart-checkout-actions{
			text-align: right;
			.btn-lg{
				.font-size(15);
				padding: 7px 10px;
				width: 100%;
				margin-bottom: 5px;
				@media only screen and (min-width: 480px) {
					width: auto;
				}
				@media only screen and (min-width: 600px) {
					.font-size(16);
					padding: 8px 13px;
				}
				@media only screen and (min-width: 768px) {
					.font-size(18);
					padding: 10px 16px;
					width: auto;
				}
			}
		}
}