// Variables ===============================================================================

// Define Vendor Path
@vendor-url: "../vendor/";

// Colors
@gray-darker: lighten( #000, 13.5%);
@gray-dark: lighten( #000, 20%);
@gray: lighten( #000, 33.5%);
@gray-light: lighten( #000, 60%);
@gray-lighter: lighten( #000, 93.5%);
@brand-primary: blue;
@brand-secondary: purple;
@brand-success: #5fcf80;
@brand-info: #2570a8;
@brand-warning: #E0AB18;
@brand-danger: #E15258;

// Scaffolding
@body-bg: #F4F4F4; // Background color for <body>
@text-color: @gray-dark; // Global text color on <body>
@link-color: @brand-primary; // Global textual link color
@link-hover-color: darken(@link-color, 15%);

// Typography
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace; // Default monospace fonts for <code>, <kbd>, and <pre>.
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.25));
@font-size-small: floor((@font-size-base * 0.85));
@font-size-h1: ceil((@font-size-base * 2.6));
@font-size-h2: ceil((@font-size-base * 2.15));
@font-size-h3: ceil((@font-size-base * 1.7));
@font-size-h4: ceil((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h5: ceil((@font-size-base * 0.85));
@line-height-base: 1.428571429; // Unit-less line-height for use in components like buttons
@line-height-computed: floor((@font-size-base * @line-height-base )); // Computed "line-height" ( font-size * line-height ) for use with margin, padding, etc
@headings-font-family: inherit; // By default, this inherits from the <body>;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

// Components
@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.33;
@line-height-small:         1.5;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

// Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
// Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

// Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
// Carets increase slightly in size for larger components.
@caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

// Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
// Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

// Default background color used for all tables.
@table-bg:                      transparent;
// Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
// Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

// Border color for table and cell borders.
@table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;


//== Forms
//
//##

// `<input>` background color
@input-bg:                       #fff;
// `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

// Text color for `<input>`s
@input-color:                    @gray;
// `<input>` border color
@input-border:                   #ccc;
// `<input>` border radius
@input-border-radius:            @border-radius-base;
// Border color for inputs on focus
@input-border-focus:             #66afe9;

// Placeholder text color
@input-color-placeholder:        @gray-light;

// Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
// Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
// Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

// Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
// Border color for textual input addons
@input-group-addon-border-color: @input-border;


//== Dropdowns
//
//## Dropdown menu container and contents.

// Background for the dropdown menu.
@dropdown-bg:                    #fff;
// Dropdown menu `border-color`.
@dropdown-border:                rgba(0,0,0,.15);
// Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       #ccc;
// Divider color for between dropdown items.
@dropdown-divider-bg:            #e5e5e5;

// Dropdown link text color.
@dropdown-link-color:            @gray-dark;
// Hover color for dropdown links.
@dropdown-link-hover-color:      darken(@gray-dark, 5%);
// Hover background for dropdown links.
@dropdown-link-hover-bg:         #f5f5f5;

// Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
// Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

// Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;

// Text color for headers within dropdown menus.
@dropdown-header-color:          @gray-light;

// Note: Deprecated @dropdown-caret-color as of v3.1.0
@dropdown-caret-color:           #000;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1010;
@zindex-tooltip:           1030;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

// Number of columns in the grid.
@grid-columns:              12;
// Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
// Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
// Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


// Mixins =============================================================================

.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size : @font-size * 1px;
font-size : ~"@{rem}rem"; }

// .box-shadow(HORIZONTAL VERTICAL BLUR COLOR))
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
-webkit-box-shadow : @shadow;
-moz-box-shadow : @shadow;
box-shadow : @shadow; }

// .background-alpha(VALUE VALUE);
.background-alpha(@color: #FFF, @alpha: 1) {
background-color : hsla(hue(@color), saturation(@color), lightness(@color), @alpha); }

// Button sizes
// -------------------------
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
       -o-user-select: @select;
          user-select: @select;
}

// WebKit-style focus
.tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 8%);
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}


// Import Vendor Frameworks =============================================================
// Normalize
@import "@{vendor-url}normalize-3.0.0.custom/normalize-3.0.0.less";

// Icon Fonts
@import "@{vendor-url}font-awesome-4.0.3.custom/css/font-awesome.min.less";

// Responsive Elements
@import "@{vendor-url}foundation-5.0.2.custom/less/foundation.less";
@import "@{vendor-url}bootstrap-3.0.3.custom/less/bootstrap.less";

// Syntax Highlighter
@import "@{vendor-url}syntaxhighlighter_3.0.83.custom/styles/shCore.less";
@import "@{vendor-url}syntaxhighlighter_3.0.83.custom/styles/shThemeEmacs.less";


// Atmosphere Elements ================================================================================
@import url("atmosphere/base.less");
@import url("atmosphere/exhibit.less");
@import url("atmosphere/journey.less");
@import url("atmosphere/dropdown.less");
@import url("atmosphere/helper.less");
@import url("atmosphere/example.less");
@import url("atmosphere/item.less");
@import url("atmosphere/feature.less");
@import url("atmosphere/author.less");
@import url("atmosphere/story.less");
@import url("atmosphere/dialogue.less");
// @import url("atmosphere/pilot.less");
@import url("atmosphere/sidebar.less");
@import url("atmosphere/specs.less");
@import url("atmosphere/cart.less");
@import url("atmosphere/callout.less");

// Start Styling below ==================================================================

.exhibit-container.hero1 .exhibit-content{ background-color: transparent !important; background: -moz-linear-gradient(top, rgba(153,0,153,0.65) 66%, rgba(153,0,153,0.52) 73%, rgba(153,0,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,rgba(153,0,153,0.65)), color-stop(73%,rgba(153,0,153,0.52)), color-stop(100%,rgba(153,0,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(153,0,153,0.65) 66%,rgba(153,0,153,0.52) 73%,rgba(153,0,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(153,0,153,0.65) 66%,rgba(153,0,153,0.52) 73%,rgba(153,0,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(153,0,153,0.65) 66%,rgba(153,0,153,0.52) 73%,rgba(153,0,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(153,0,153,0.65) 66%,rgba(153,0,153,0.52) 73%,rgba(153,0,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6990099', endColorstr='#00990099',GradientType=0 ); /* IE6-9 */}

.journey {
	.journey-bar{ 
		//background-color: purple; 
	}
}